*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.812rem;
    background-color: hsl(214, 17%, 92%);
    overflow-wrap: break-word;
}

.containers {
    display: flex;
}
h1, p{
    font-size: 0.5rem;
    font-weight: 500;
}
h2{
    font-size: 0.42rem;
    font-weight: 500;
}
h3{
    font-size: 1em;
    font-weight: 600;
}

.box1, .box2{
    display: flex;
}
img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1em;
    border-width: 0.1em;
    border-color: white;
    border-style: solid;
}
.profile{
    display: flex;
}

.daniel .content {
    margin-top: -4em;
}
.name {
    align-content: center;
    line-height: 0.8em;
    padding-left: 0.8em;
}
.daniel {
    height: 13rem;
    width: 23rem;
    margin: 0.7rem;
    padding: 1.5rem;
    padding-top: 0;
    border-radius: 0.5em;
    background-color : hsl(263, 55%, 52%);
    color: white;
}
.quotation {
    width: 4.5rem;
    height: 4.5rem;
    border-width: 0;
    border-radius: 0;
    margin-inline-start: 18em;
    padding: 0em;
}
h3 {
    margin-block: 1em ;
}
p{
    line-height: 1.5em;
}
.daniel, .jonathan, .patrick, .jeanette, .kira {
    box-shadow: 2em 3em 1.5em rgba(0, 0, 0, 0.15);
}
.jonathan {
    height:13rem;
    width: 10.5rem;
    margin: 0.7rem;
    padding: 1.5rem;
    border-radius: 0.5em;
    background-color : hsl(217, 19%, 35%);
    color: white;
}

.jeanette {
    height:12rem;
    width: 10.5rem;
    margin: 0.7rem;
    padding: 1.5rem;
    border-radius: 0.5em;
    background-color : white;
    color: hsl(224, 10%, 45%);
}

.patrick {
    height: 12rem;
    width: 23rem;
    margin: 0.7rem;
    padding: 1.5rem;
    border-radius: 0.5em;
    background-color : hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
}

.kira {
    height:26.5rem;
    width: 10.5rem;
    margin: 0.7rem;
    padding: 1.5rem;
    border-radius: 0.5em;
    background-color : white;
    color: hsl(224, 10%, 45%);
}
.jeanette h3, .kira h3 {
    color: hsl(217, 19%, 35%);
}
.footnote {
    display: flex;
}

@media ( max-width:768px ) {
    body {
        display: flex;
        flex-direction: column;
        text-align: balance;
        min-height: 100vh;
    }
    .containers, .box1, .box2 {
        display: grid;
    }
    .daniel {
    height: 20rem;
    width: 12.66rem;
}
.quotation {
    transform: scale(0);
}
.jonathan {
    height:10.8rem;
    width: 12.66rem;
}
.jeanette {
    height:10rem;
    width: 12.66rem;
}
.patrick {
    height: 18rem;
    width: 12.66rem;
}
.kira {
    height:21rem;
    width: 12.66rem;
}

}